*~
*.pyc
__pycache__
.du
.ipynb_checkpoints
# local stuff in folders named zz-*
zz-*
TAGS
*.mov
*.mkv
*.mp4
*.pdf
*.png
*.jpg
*.key
*.pptx
*.bak
*.tar.gz
*.tgz
*.aux
*.log
*.tex
*.kml
*.json
*.out
*foo*
*.pure
*.help
